//Definição de cor
$corBackground: black;
$corTexto: 	#F0F8FF;
$corLink: #036434;
$corDoBotao: #013019;
$corTextoDoBotao: #05b05b;

// Tons de Verde
$corVerdeTom1: #05b05b;
$corVerdeTom2: #048a47;
$corVerdeTom3: #036434;
$corVerdeTom4: #013019;
$corVerdeTom5: #00170c;