@import 'cores';

// Definições Padrão da Página
*{
    // border: 1px dashed hotpink;
    // font-family: Roboto, sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: $corTexto;
}

a{
    color: $corLink;
    &:hover{
        color: $corVerdeTom1;
    }
}

h2{
    font-size: 5vh;
}

p{
    font-size: 3vh;
}

hr{
    color: $corLink;

}
header{
    .navbar{
        border-bottom: 0.125em solid rgb(0, 0, 0);
    }

    #navbarText{
        justify-content: flex-end;
    }
}

// Classes

.btn-maisinfo{
    background-color: $corDoBotao;
    color: $corTextoDoBotao;
    border: 0;
    transition: ease 0.5s;
    &:hover{
        background-color: $corTextoDoBotao;
        color: $corDoBotao;
        transform: scale(1.1);
    }
}

.navbar-toggler-icon{
    color: #036434
}
.nav-link{
    color: #036434;
    &:hover{
        color: $corVerdeTom1;
    }
}

h1.navbar-brand.m-0.section-title{
    color: $corTexto;
}

.imgCertificado{
    border-radius: 15%;
}

.background{
    // background-color: rgb(71, 71, 71);
    background-color: $corBackground;
}

// ID's
#sobre{
    .container{
        padding-top: 3em;
        .row{
            .imgSobre{
                width: 20em;
                border-radius: 25%;
            }
        }
    }
}

#projetos{
    .container{
        .row{
            .textoProjeto{
                text-align: end;
            }
            
            .imgProjeto{
                width: 20em;
                
            }
        }
    }
}



#experiencias{
    .container{
        .row{
            a{
                text-decoration: none;
                font-size: 1.5em;
            }

            .imgTecnologias{
                align-self: center;
                width: 100%;
                transition: all 0.2s;
                transition-duration: 0.2s;
                transition-timing-function: ease;
                transition-delay: 0s;
                transition-property: all;
                vertical-align: middle;
                &:hover{
                    transform: scale(1.1);
                }
            }
            
            .imgCertificado{
                align-self: center;
                width: 75%;
                transition: all 0.2s;
                transition-duration: 0.2s;
                transition-timing-function: ease;
                transition-delay: 0s;
                transition-property: all;
                vertical-align: middle;
                &:hover{
                    transform: scale(1.3);
                }
            }
            
        }
    }
}

#contato{
    .container{
        .row{
            .imgContato{
                max-width: 20em;
                border-radius: 40%;
                padding: 0 25% 0 25% ;
            }
            a{
                text-decoration: none;
            }
        }
    }
}

#rodape{
    .container{
        .row{
            a{
            text-decoration: none;
            }
            .rodape-copyright{
                text-align: right;
            }
        }
    }
}
