@import 'cores';

// Efeito Matrix
html, body { 
    margin: 0;
    height: 100%;
}
canvas {
    width: 1vw;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 15%;
    z-index: -9;
}


// Definições Padrão da Página
*{
    // border: 1px dashed hotpink;
    // font-family: Roboto, sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: $corTexto;
}

.textoLink{
    color: $corLink;
    &:hover{
        color: $corVerdeTom1;
    }
}

.botaoProxPagina{
    text-decoration: none;
    color: $corTextoDoBotao;
    &:hover{
        color: $corDoBotao;
    }
}

h2{
    font-size: 5vh;
}

p{
    font-size: 3vh;
}

hr{
    color: $corLink;

}
header{
    .navbar{
        border-bottom: 0.125em solid rgb(0, 0, 0);
    }

    #navbarText{
        justify-content: flex-end;
    }
}

// Classes
#efeitoTextoNav{
    .btnNav {
        background: none;
        outline: none;
        .btnNav:active{
            border-style: outset;
        }
        display: inline-block;
        text-decoration: none;
        width: 160px;
        height: 42px;
        border-radius: 10px;
        overflow: hidden;
    
        box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
        position: relative;
    }
    
    .btnNav.test-completed::after,
    .btnNav.test-completed::before {
        content: "YV";
        position: absolute;
        text-align: center;
        left: 0;
        color: rgb(3, 100, 52);
        line-height: 2.5;
    
        transition: all 400ms;
        top: 0;
    }
    
    .btnNav.btnNav.test-completed:hover::after {
        top: -36px;
    }
    
    .btnNav.test-completed::before {
        content: "Yuri Vinicius";
        color: $corVerdeTom1;
        top: 36px;
    }
    
    .btnNav.btnNav.test-completed:hover::before {
        top: 0;
    }
}

// teste
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(3, 100, 52)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }


.btn-maisinfo{
    background-color: $corDoBotao;
    color: $corTextoDoBotao;
    border: 0;
    transition: ease 0.5s;
    &:hover{
        background-color: $corTextoDoBotao;
        color: $corDoBotao;
        transform: scale(1.1);
    }
}

.navbar-toggler-icon{
    color: #036434
}
.nav-link{
    color: #036434;
    &:hover{
        color: $corVerdeTom1;
    }
}

h1.navbar-brand.m-0.section-title{
    color: $corTexto;
}

.imgCertificado{
    border-radius: 15%;
}

.backgroundCor{
    // background-color: rgb(71, 71, 71);
    background-color: $corBackground;
    z-index: -10;
}

// ID's
#sobre{
    .container{
        padding-top: 3em;
        .row{
            .imgSobre{
                width: 20em;
                border-radius: 25%;
            }
        }
    }
}

#projetos{
    .container{
        .row{
            .textoProjeto{
                text-align: end;
            }
            
            .imgProjeto{
                width: 20em;
                
            }
        }
    }
}



#experiencias{
    .container{
        .row{
            a{
                text-decoration: none;
                font-size: 1.5em;
            }

            .imgTecnologias{
                opacity: 85%;
                align-self: center;
                width: 100%;
                transition: all 0.2s;
                transition-duration: 0.2s;
                transition-timing-function: ease;
                transition-delay: 0s;
                transition-property: all;
                vertical-align: middle;
                &:hover{
                    transform: scale(1.1);
                }
            }
            
            .imgCertificado{
                align-self: center;
                width: 75%;
                transition: all 0.2s;
                transition-duration: 0.2s;
                transition-timing-function: ease;
                transition-delay: 0s;
                transition-property: all;
                vertical-align: middle;
                &:hover{
                    transform: scale(1.3);
                }
            }
            
        }
    }
}

#contato{
    .container{
        .row{
            .imgContato{
                max-width: 20em;
                border-radius: 40%;
                padding: 0 25% 0 25% ;
            }
            a{
                text-decoration: none;
            }
        }
    }
}

#rodape{
    .container{
        .row{
            a{
            text-decoration: none;
            }
            .rodape-copyright{
                font-size: 2vh;
                text-align: right;
            }
        }
    }
}
