@import 'breakpoint';

.section-img-inner {
    width: 50%;
    img:hover{

    }
    &:hover{
        transform: scale(1.1);
    }
    // por width 80 no celular
    // mix-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(30px);
    opacity: 0;
    transition: .6s ease, opacity .6s ease, background-position .8s ease;
}
.section-body {
    display: flex;
    align-items: center;
    justify-content: end;
}
.section-text {
    padding-top: 3.25em;
    text-align: end;
}

.section[data-scroll="in"]{
    .section-img-inner{
        opacity: 1;
        background-position: 50% 50%;
        filter: blur(0);
    }

}

.section.active .section-img-inner {
    opacity: 1;
    background-position: 50% 50%;
    filter: blur(0);
}
h2 {
    font-size: 3vw;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.projeto1{
    padding-top: 3em;
    padding-bottom: 3em;
}

.projeto2{
    padding-top: 4em;
    padding-bottom: 3em;
}

.projeto3{
    padding-top: 4em;
    padding-bottom: 3em;
}

.projeto4{
    padding-bottom: 4em;
}


// --bs-gutter-x: 1.5rem;
// --bs-gutter-y: 0;
// display: flex;
// flex-wrap: wrap;
// margin-top: calc(-1 * var(--bs-gutter-y));
// margin-right: calc(-0.5 * var(--bs-gutter-x));
// margin-left: calc(-0.5 * var(--bs-gutter-x));


// Breakpoint Desktop
@media screen and (min-width: 791px){
    *{
        h2{
            font-size: 5vh;
        }
    }
    #projetosPC{
        .container{
            img{
                height: 25em; 
                object-fit: cover;
                object-position: 0% 0%; 
                opacity: 75%;
            }
        }
        h2{
            font-size: 5vh;
        }
        p{
            font-size: 3vh;
        }
        .ultimoProjeto{
            padding-bottom: 5%;
        }
    }

    .containerProjeto{
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
    }
    .centerProjeto{
        display: block;
        text-align: -webkit-center;

        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
    }
}

// Breakpoint Mobile
@media screen and (max-width: 790px){
    *{
        h2{
            font-size: 5vh;
        }
    }
    #projetosPC{
        m{
            display: block;
            text-align: -webkit-center;
        }
        img{
            width:20em;
            height: 15em;
            opacity: 75%;

            object-fit: cover;
            object-position: 0% 0%; 
        }
        h2{
            font-size: 5vh;
        }
        p{
            font-size: 3vh;
        }
    }

    .containerProjeto{
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
    .centerProjeto{
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
    }
}