
.imgParte1{
    width:0em;
    height: 0em;
    visibility: hidden;
    object-fit: cover;
    object-position: 0% 0%; 
}

.imgParte2{
    width:0em;
    height: 0em;
    visibility: hidden;
    object-fit: cover;
    object-position: 0% 97%; 
}


.videoProjeto1{
    width: 100%;
    height: 100%;
}

// Breakpoint Mobile
@media screen and (max-width: 790px){
    .efeitoBlur{
        &:hover{
            transform:scale(1);
        }
    }
    .imgParte1{
        width:20em;
        height: 15em;
        opacity: 75%;
        visibility: visible;
        object-fit: cover;
        object-position: 0% 0%; 
    }
    
    .imgParte2{
        width:20em;
        height: 20em;
        opacity: 75%;
        visibility: visible;
        object-fit: cover;
        object-position: 0% 97%; 
    }
    
}