.imgParte1{
    width:20em;
    height: 15em;
    opacity: 75%;
    object-fit: cover;
    object-position: 0% 0%; 
}

.imgParte2{
    width:20em;
    height: 20em;
    opacity: 75%;
    object-fit: cover;
    object-position: 0% 97%; 
}

.imgParte3{
    width:20em;
    height: 15em;
    opacity: 75%;
    object-fit: cover;
    object-position: 0% 100%; 
}

// Breakpoint Mobile
@media screen and (max-width: 790px){
    .efeitoBlur{
        &:hover{
            transform:scale(1);
        }
    }
    .imgParte1{
        width:20em;
        height: 15em;
        opacity: 75%;
        object-fit: cover;
        object-position: 0% 0%; 
    }
    
    .imgParte2{
        width:20em;
        height: 20em;
        opacity: 75%;
        object-fit: cover;
        object-position: 0% 97%; 
    }
    
    .imgParte3{
        width:20em;
        height: 15em;
        opacity: 75%;
        object-fit: cover;
        object-position: 0% 100%; 
    }
}